/* css of information */
.information {
    background-image: url(../images/background/19_2023-638090328050475575-47.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 300px;

}

.information .div {
    width: 49%;
}

.information_image {
    width: 70px;
    height: 70px;
    /* text-align: left; */
    margin-right: auto;


}

.information_image img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.information .div h4 {
    color: var(--whitecolor);
    margin: 0 0 10 20%;

}

.information_id {
    top: 70px;
    right: 250px;
    margin-right: auto;
    left: 12%;
}

.information_id span {
    margin-top: 40px;
    color: var(--main_color);
}

.paragraph {
    word-wrap: break-word;
    margin-top: 120px;
    margin-left: 20px;
    color: #e4dede;
}

.job {
    /* margin-top: 20px; */
    width: 220px;
    margin-right: auto;
}

.job span {
    display: block;
}

@media (max-width:900px) {

    .information {
        height: 480px;
    }
}